.banner {
	color: #fff;
	object-fit: contain;
	height: 625px;
}

.banner_contents {
	margin-left: 30px;
	padding-top: 260px;
	height: 190px;
}

.banner_title {
	font-size: 3rem;
	font-weight: 800;
	padding-bottom: 0.3rem;
	text-shadow: 1px 1px 2px rgb(17, 17, 17);
}

.banner_description {
	width: 45rem;
	line-height: 1.3;
	padding-top: 1rem;
	font-size: 0.8rem;
	max-width: 368px;
	height: 88px;
	text-shadow: 1px 1px 2px rgb(17, 17, 17);
}

.banner_button {
	cursor: pointer;
	color: #fff;
	outline: none;
	border: none;
	font-weight: 700;
	border-radius: 0.5vw;
	padding-left: 2rem;
	padding-right: 2rem;
	margin-right: 1rem;
	padding-top: 0.5rem;
	background-color: rgba(24, 24, 24, 0.7);
	padding-bottom: 0.5rem;
}

.banner_button:hover {
	color: #000;
	background-color: #eeeded;
	transition: all 0.3s ease;
}

.banner_fadeBottom {
	height: 7.4rem;
	background-image: linear-gradient(
		180deg,
		transparent,
		rgba(37, 37, 37, 0.61),
		#111
	);
	position: relative;
	bottom: -3.66rem;
}
